h1{
    color: green;
    background: indigo;
    width: 350px;
    height:100px;
    
}
p{
    color:green;
    background:indigo;
    width: 200px;
    height: 30px;
}
h2{
    color: green;
    background: indigo;
    width: 200px;
    height: 30;

}